.label-button-style {
    -fx-cursor: hand;
    -fx-text-fill: #005880;
}

.label-err-style {
    -fx-cursor: hand;
    -fx-text-fill: red;
}

.tooltip-font-size {
    -fx-font-size: 12px;
}

.checkBox-short {
    -fx-cursor: hand;
    -fx-pref-height: 25;
    -fx-pref-width: 270;
}

.hBox-short {
    -fx-spacing: 5;
    -fx-pref-width: 270;
}

.hBox-long {
    -fx-spacing: 5;
    -fx-pref-width: 550;
}

.img-button-style {
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
}