.label-button-style {
    -fx-cursor: hand;
    -fx-text-fill: #005880;
}

.label-err-style {
    -fx-cursor: hand;
    -fx-text-fill: red;
}

.tooltip-font-size {
    -fx-font-size: 12px;
}

.checkBox-medium {
    -fx-cursor: hand;
    -fx-pref-height: 25;
}

.checkBox-short {
    -fx-cursor: hand;
    -fx-pref-height: 25;
}

.hBox-270-5 {
    -fx-spacing: 5;
    -fx-pref-width: 270;
}

.hBox-290-5 {
    -fx-spacing: 5;
    -fx-pref-width: 290;
}

.hBox-400-5 {
    -fx-spacing: 5;
    -fx-pref-width: 400;
}

.hBox-500-5 {
    -fx-spacing: 5;
    -fx-pref-width: 500;
}

.hBox-550-5 {
    -fx-spacing: 5;
    -fx-pref-width: 550;
}

.hBox-600-5 {
    -fx-spacing: 5;
    -fx-pref-width: 600;
}

.img-button-style {
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-pref-height: 35;
}

.cadetblue-button {
    -fx-background-color: cadetblue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.cadetblue-button:focused {
    -fx-border-color: #039ED3;
    -fx-border-width: 2px;
    -fx-border-insets: -2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.cadetblue-button:hover {
    -fx-background-color: derive(cadetblue, 20%);
}

.cornflowerblue-button {
    -fx-background-color: cornflowerblue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.cornflowerblue-button:hover {
    -fx-background-color: derive(cornflowerblue, 20%);
}

.cornflowerblue-button:focused {
    -fx-border-color: #039ED3;
    -fx-border-width: 2px;
    -fx-border-insets: -2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.choice-box {
    -fx-cursor: hand;
    -fx-font-size: 12;
    -fx-pref-height: 25;
}

.text-field {
    -fx-font-size: 12;
    -fx-pref-height: 25;
    -fx-prompt-text-fill: rgba(128, 128, 128, 0.4);
}

.button {
    -fx-cursor: hand;
    -fx-font-size: 12;
    -fx-pref-height: 25;
}

.check-box {
    -fx-cursor: hand;
    -fx-font-size: 12;
    -fx-pref-height: 35;
}

.label {
    -fx-font-size: 12;
    -fx-pref-height: 35;
}

.label-low {
    -fx-pref-height: 20;
}

.menu-item {
    -fx-pref-height: 35;
}

.tab {
    -fx-cursor: hand;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-pref-height: 35;
}

.progress-bar {
    -fx-pref-width: 200;
}

.scroll-pane {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

.table-view .column-header {
    -fx-pref-height: 35;
    -fx-min-height: 35;
}

.table-view .column-header .label {
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;
}